body {
  font-family: "Rubik", sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  color: #272829;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Rubik", sans-serif;
  color: #121213;
}
a {
  text-decoration: none;
  cursor: pointer;
}
main {
  background: #f2f7ff;
  height: 100%;
}
.rounded-6 {
  border-radius: 18px !important;
}
.shadow-theme {
  box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
}
.nav-link,
.nav-link:focus,
.nav-link:hover {
  color: #697a8d;
}
.btn-theme {
  color: #fff;
  background-color: #697a8d;
  border-color: #697a8d;
}
.btn-link {
  font-weight: 400;
  color: #121213;
  text-decoration: underline;
}

.fae.nav-link:hover,
.fae.nav-link:active {
  background: #ed2024;
  color: #fff;
}
.layoutSidenav_nav {
  z-index: 202;
}
.sb-topnav {
  z-index: 1;
}
.text-theme {
  color: #ed2024;
}
.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
}
.sb-topnav .navbar-brand {
  width: 350px;
}
a.linkCard {
  text-decoration: none;
  cursor: pointer;
  background: #fff;
}
/* a.linkCard:focus {
  background: #ee6c6f;
} */
.team .member img {
  height: 80px;
  width: 80px;
  object-fit: contain;
  border-radius: 50%;
  margin: 0 0 20px 0;
  background: #fcd9da;
}

.team .member h4 {
  font-weight: 500;
  margin-bottom: 2px;
  font-size: 20px;
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member p {
  font-size: 17px;
  color: #1c1c1c;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #919191;
  transition: 0.3s;
}

.team .member .social a:hover {
  color: #e96b56;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
/* ==============signup =============*/
.faeSignup .form-check-input:checked {
  background-color: #ed2024;
  border-color: #ed2024;
}
.faeSignup .form-check-input:focus {
  border-color: #ed2024;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(228, 128, 128, 0.2);
}
.faeSignup {
  background-image: url("../../public/img/loginbg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.faeSignup .b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.faeSignup .bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.faeSignup .rounded-4 {
  border-radius: 0.5rem;
}
.faeSignup .rounded-5 {
  border-radius: 0.75rem;
}

.faeSignup .faeSignup .modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom 0.75s ease-in-out;
}
.faeSignup .modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.faeSignup .modal-alert .modal-dialog {
  width: 380px;
}

.faeSignup .border-right {
  border-right: 1px solid #eee;
}

.faeSignup .modal-tour .modal-dialog {
  width: 380px;
}
.foe-fp {
  color: #000;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.foe-fp:focus,
.foe-fp:hover {
  color: #ed2024;
  transform: translate3d(0, -3px, 0);
}

.fae-login {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.fae-login:focus,
.fae-login:hover {
  box-shadow: 0 0.5rem 1rem rgb(237 32 36 / 45%) !important;
  transform: translate3d(0, -3px, 0);
}
.faeError .center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.faeError .error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.faeError  .number {
  font-weight: 900;
  font-size: 15rem;
  line-height: 1;
}
.faeError  .illustration {
  position: relative;
  width: 12.2rem;
  margin: 0 2.1rem;
}
.faeError  .circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12.2rem;
  height: 11.4rem;
  border-radius: 50%;
  background-color: #293B49;
}
.faeError  .clip {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  width: 12.5rem;
  height: 13rem;
  border-radius: 0 0 50% 50%;
}
.faeError  .paper {
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 9.2rem;
  height: 12.4rem;
  border: 0.3rem solid #293B49;
  background-color: white;
  border-radius: 0.8rem;
  &::before {
    content: "";
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
    width: 1.4rem;
    height: 1rem;
    background-color: white;
    border-bottom: 0.3rem solid #293B49;
    transform: rotate(45deg);
  }
}
.faeError  .face {
  position: relative;
  margin-top: 2.3rem;
}
.faeError  .eyes {
  position: absolute;
  top: 0;
  left: 2.4rem;
  width: 4.6rem;
  height: 0.8rem;
}
.faeError  .eye {
  position: absolute;
  bottom: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #293B49;
  animation-name: eye;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  &-left {
    left: 0;
  }
  &-right {
    right: 0;
  }
}
@keyframes eye {
  0% {
    height: 0.8rem;
  }
  50% {
    height: 0.8rem;
  }
  52% {
    height: 0.1rem;
  }
  54% {
    height: 0.8rem;
  }
  100% {
    height: 0.8rem;
  }
}
.faeError  .rosyCheeks {
  position: absolute;
  top: 1.6rem;
  width: 1rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #FDABAF;
  &-left {
    left: 1.4rem;
  }
  &-right {
    right: 1.4rem;
  }
}
.faeError  .mouth {
  position: absolute;
  top: 3.1rem;
  left: 50%;
  width: 1.6rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  transform: translateX(-50%);
  background-color: #293B49;
}
.faeError  .text {
  margin-top: 5rem;
  font-weight: 300;
  color: #293B49;
}
.faeError  .by {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  text-transform: uppercase;
  color: #293B49;
}
.faeError  .byLink {
  color: #ED2024;
}

/* priyanka start */
input.error {
  border-color: red !important;
}
.input-feedback.invailid_feedback {
  color: red;
  padding: 4px 2px;
}
.cursor-pointer{
  cursor: pointer;
}
.row.manualAddForm label {
  left: 15px;
}

.ant-btn-danger {
  border-color: #ed2024;
  background: #ed2024;
}
.ant-btn-danger span {
  color: white;
  font-weight: 600;
}
.ant-btn-primary span {
  color: white;
}
.ant-switch-checked {
  background-color: #29bd18 !important;
}
.ant-table-thead > tr > th {
  color: rgb(237 31 36) !important;
  font-weight: bold  !important;
  font-size: 17px;
}
.activesidebar {
  background: #ed2024;
  color: #fff;
}
a.nav-link.topMenuActive {
  color: #ed2024 !important;
}
.ant-image {
  height: 100%;
  width: 100%;
}
.ant-modal-title {
  margin: 0;
  color: #ed2024 !important;
  font-weight: bold  !important;
  font-size: 18px  !important;
  line-height: 22px;
  word-wrap: break-word;
}
.ant-tabs-ink-bar {
  position: absolute;
  background: #ed2024 !important;
  pointer-events: none;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ed2024 !important;
  text-shadow: 0 0 0.25px currentcolor;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
  border-bottom-color: #fff;
  border-color: #ed2024  !important;
}
.ant-tabs-tab-btn {
  font-weight: bold !important;
  font-size: 16px;
  color: #737373;
  border-color: #737373;
}
.userDropdown {
  right: 31px;
  left: unset !important;
  border-radius: 5px !important;
}
.ant-descriptions-header {
  margin-bottom: 4px !important;
}
.downloadcsv a{
  color: #fff !important;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
  word-break: unset;
  white-space: pre-line;
}
.togglePassword{
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 200;
  top: 20px;
  right: 8px;
  cursor: pointer;
}

.assigned{
  color: green;
  font-weight: 600;
}

.booked{
  color: red;
   font-weight: 600;
}
/* priyanka end */


/*.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 50px;
}*/